<img src="{{btnSrc}}" class="align-bottom playback-btn" ng-click="toggleVideo()" />
<span class = "time align-bottom current-time">{{current.minutes}}<span>:</span>{{current.seconds}}</span>
<span class = "time align-bottom duration-time">{{total.minutes}}<span>:</span>{{total.seconds}}</span>
<img src="{{qualityBtnSrc}}" class="align-bottom quality-btn" ng-click="toggleQuality()" />

<div class="social-network" ng-show="showOverflow">
    <h1 class="show-on-pause" >Share With Friends</h1>
    <div class="centered-img">
        <img src="img/facebook-share.png" class="show-on-pause"/>
        <img src="img/twitter-tweet.png" class="show-on-pause"/>
        
    </div>
</div>


      
